@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'), local('NotoSans-Regular'),
        url('NotoSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  .logo_text {
    font-family: 'Noto Sans';
  }
