.desmos {
  .dcg-calculator-api-container .dcg-container.dcg-default-border {
    border: none;
  }
}

.ReactVirtualized__Grid {
  outline: unset;
  box-sizing: border-box;
  direction: ltr;
  height: auto;
  position: relative;
  width: 583.44px;
  will-change: transform;
  overflow: hidden auto;
}
