@font-face {
    font-family: 'Roboto Light';
    src: local('Roboto Light'), local('Roboto--Light'),
        url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  .logo_text {
    font-family: 'Roboto Light';
  }
