DJANGO_SETTINGS_MODULE='swiftgrade_cv.settings.development'
JWT_SECRET_KEY='jwt_secret_key'

HOST_URL = 'http://localhost:8000/'
WEBHOOK_HOST_URL = 'http://localhost:8001/api/v1'
RECOGNITION_HOOK = '/assessments/recognition_batch/<batch_id>/result/'
GENERATION_HOOK = '/assessments/<assessment_id>/anwer_sheets/<answer_sheet_id>/result/'
GENERIC_GENERATION_HOOK = '/answer_sheets/generic_results/'
REDIS_URL = 'redis://localhost:6379/0'
FONTS_PATH = '/tex/'
DB_HOST='127.0.0.1'
DB_USER='root'
DB_PASSWORD='password'
DB_NAME='swiftgrade_cv'
MATHPIX_URL='MATHPIX_URL'
MATHPIX_APP_ID='MATHPIX_APP_ID'
MATHPIX_APP_KEY='MATHPIX_APP_KEY'
LATEX_CONFIDENCE_RATE=0.9

CELERY_DEFAULT_QUEUE = 'default'
