.image-gallery-slide .image-gallery-image {
  width: 70%;
  object-fit: contain;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 25px;
}